spring:
  cloud:
    stream:
      bindings:
        input:
          destination: schedule
#          group: flight-ops
        output:
          destination: delay
#          producer:
#            requiredGroups: flight-watch
      function:
        definition: flyTimeProcessor
  application:
    name: flight-ops
management:
  endpoints:
    web:
      exposure:
        include: '*'
  metrics:
    export:
      prometheus:
        enabled: true

#server:
#  port: 8081
